body {
    margin: 0;
    width: 100%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: bold;
    width: 100%;
}
nav ul li, footer ul li {
    float: left;
}
nav a, footer a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover:not(.active) {
    background-color: #111;
}
footer a:hover {
    background-color: #111;
}

nav .active {
    background-color: #4CAF50;
}
div {
    padding: 20px;
    margin-top: 30 px;
    background-color:white; /*#1abc9c;*/
    height:500px;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
